.itemcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  -webkit-padding-start: 0;
  margin-bottom: -11px;
}

.item {
  display: flex;
  border: 1px solid #ddd;
  background: #fff;
  height: 30px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
}
