.App {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  color: #fff;
}

html {
  background: url('./assets/wood.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
